body{
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;   
}
#background{
    height: 100vh;
    background:url(../images/bg-header-desktop.png) top center no-repeat ;
    background-color: white;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 150px;
}
main img{
    width: 160px;
    margin-bottom: 50px ;
}
main h1{
    color: hsl(210, 10%, 33%);
    font-size: 59px;
}
main p{
    text-align: center;
    width: 920px;
    font-weight: 400;
    color: hsl(201, 11%, 66%);  
    font-size: 27px;
}
.buttom{
    margin-top: 45px;
    display: flex;
    gap: 25px;
}
.ios{
    font-size: 30px;
    padding: 16px 34px;
    background-color: hsl(171, 66%, 44%);
    color: aliceblue;
    font-weight: 700;
    border-radius: 40px;
    border-top: solid 4px transparent;
    border-bottom: solid 4px hsl(171, 68%, 28%);
    transition: 0.4s ease-in-out;
}
.mac{
    font-size: 30px;
    padding: 16px 34px;
    background-color: hsl(233, 100%, 69%);
    color: aliceblue;
    font-weight: 700;
    border-radius: 40px;
    border-top: solid 4px transparent;
    border-bottom: solid 4px hsl(233, 56%, 55%);
    transition: 0.4s ease-in-out;
}
.ios:hover{
    color: rgba(224, 238, 250, 0.829);
    background-color: hsla(171, 63%, 34%, 0.565);
    border-bottom: solid 4px hsl(171, 66%, 44%);
}
.mac:hover{
    color: rgba(224, 238, 250, 0.678);
    background-color: hsl(233, 56%, 55%);
    border-bottom: solid 4px hsl(233, 100%, 69%);

}


